@use "./variables" as *;

.body-wrapper {
  scroll-behavior: smooth;
  margin-top: 0 !important;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
}

body {
  line-height: 1.3;
  font-family: $helvetica;
  overflow-x: hidden;
  background-color: $light;
  transition: all 300ms ease-out;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $light; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

a {
  text-decoration: none;
  color: $dark;
}

ul {
  list-style-type: none;
}

input {
  max-width: 300px;
  height: 40px;
  font-family: $helvetica;
  padding: 0 20px;
  border: 1px solid $darkBg;
  border-radius: 10px;
  background: none;
  font-size: 0.8rem;
}

.textArea {
  position: relative;
  p {
    position: absolute;
    font-size: 0.7rem !important;
    font-weight: 100;

    top: -1.5rem;
    right: 0;
    opacity: 0.5;
  }
  textarea {
    width: 100%;
  }
}

textarea {
  max-width: 300px;
  padding: 10px 20px;
  font-family: $helvetica;
  border: 1px solid $darkBg;
  border-radius: 10px;
  background: none;
  font-size: 0.8rem;
  resize: none;
  position: relative;
}

button {
  max-width: 300px;
  height: 40px;
  background-color: $dark;
  border: none;
  border-radius: 100px;

  color: $light;
  font-size: 0.8rem;

  cursor: pointer;

  &:disabled {
    background-color: $darkBg;
    cursor: default;

    &:hover {
      background-color: $darkBg;
    }
  }

  &:hover {
    background-color: $blue;
  }

  &[type="submit"] {
    background-color: $green;
    &:hover {
      background-color: $blue;
    }
  }
}

select {
  height: 50px;
  padding: 0 20px;
  border: 1px solid $darkBg;
  border-radius: 10px;
  background: none;
  font-size: 0.9rem;
  margin-bottom: 1em;
  font-weight: 100;
  color: $dark;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background: transparent;

  background-size: 15px;
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 50%;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E");
}

.theme-dark {
  transition: all 300ms ease-out;
  background-color: $dark;

  color: $light;

  .form-stylescape {
    .left-container {
      background-color: $dark;
      .image-container {
        background-color: $dark;

        img {
          background-color: $dark;
        }
      }
    }
  }

  input {
    color: $light;
  }

  textarea {
    color: $light;
  }

  .brand-attribute {
    label {
      background-color: $darkBg;
      color: $dark;
    }

    .checked {
      background-color: $blue;
      color: $light;
    }
  }

  select {
    color: $light;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.29289 8.29289C4.68342 7.90237 5.31658 7.90237 5.70711 8.29289L12 14.5858L18.2929 8.29289C18.6834 7.90237 19.3166 7.90237 19.7071 8.29289C20.0976 8.68342 20.0976 9.31658 19.7071 9.70711L12.7071 16.7071C12.3166 17.0976 11.6834 17.0976 11.2929 16.7071L4.29289 9.70711C3.90237 9.31658 3.90237 8.68342 4.29289 8.29289Z' fill='%23ffffff'%3E%3C/path%3E%3C/svg%3E");

    option {
      background-color: $dark;
    }
  }

  .slider {
    border: 1px solid $darkBg !important;
    .slider-label {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.8em;

      label {
        width: min-content;
        font-size: 0.8rem;
        color: $dark;
      }
    }
  }

  button {
    background-color: $light;
    color: $dark;

    &:disabled {
      background-color: $darkBg;
      cursor: default;

      &:hover {
        background-color: $darkBg;
      }
    }

    &:hover {
      background-color: $blue;
    }

    &[type="submit"] {
      background-color: $green;
      &:hover {
        background-color: $blue;
      }
    }
  }

  header {
    .logos {
      .circl-logos {
        .circl-logo {
          fill: $light;
        }
      }
    }

    button {
      color: $light !important;
      background: none;

      &:hover {
        background: none;
      }
    }
  }

  .smart-watch {
    .logos {
      .circl-logos {
        .circl-logo {
          fill: $light;
        }
      }
    }
  }

  a {
    color: $light;
  }

  .submit-popup {
    .card {
      background-color: $dark !important;
      border: 1px solid $light !important;
    }

    .data-card {
      background-color: black !important;
      color: $light !important;
    }
  }

  .success-popup {
    .popup {
      background-color: $dark !important;
      border: 1px solid $light !important;
    }
  }
}

//*----------> largeMobile

@media screen and (max-width: 767px) and (orientation: portrait) {
  input {
    width: 100%;
  }

  textarea {
    max-width: 100%;
  }
}

//*----------> mediaQuroes

//*----------> smartWatch

// @media screen and (max-width: 270px)

//*----------> smallMobile

// @media screen and (min-width: 271px) and (max-width: 360px)

//*----------> largeMobile

// @media screen and (min-width: 361px) and (max-width: 767px)

//*----------> Tablets

// @media screen and (min-width: 768px) and (max-width:1023px)

//*----------> Desktop

// @media screen and (min-width: 1024px) and (max-width:1280px)

//*----------> Largedesktop

// @media screen and (min-width:1280px)
